
.relative_card{
    width: 240px;
    height: 230px;
     position:relative;
     z-index: 0;
     border-radius: 5px;

}
.bg-img{
   width: 100%;
   height: 100%;
   object-fit:cover;
    object-position: center 95%;
}

.absolute_detail_card{
    position: absolute;
    padding: 10px;
     top:60%;;
    left:10px;
    width:200px;
    height: 190px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;

}

.adrs{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.rate{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 0.8rem;

}
.internet{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;

    padding: 10px;
}

.offer{
    display: flex;
    flex-direction: row;

    font-size: 0.8rem;
    padding: 10px;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
}
.btns1{
   padding:10px;
   border: 1px solid #FF6E00;
   font-size: 0.7rem;
}
