<div class="container" style="margin-left:50px;">
    <div class="card-container">
        <div class="relative_card">   
            <img class="bg-img" [src]='imageUrl' alt="image">      
            <!-- <div class="absolute_button"><button>Unlimited</button></div> -->
            <div class="absolute_detail_card">
                <div>
                    <div class="adrs"><div> {{address}}</div> <img src="assets/images/Heart icon.svg" width="20px" height="20px" style="margin-left:10px;">
                    </div> 
                    <div class="rate"><div >${{rate}} <del style="margin-left: 10px;color:rgb(97, 93, 93)">${{del_rate}}</del></div> <div></div></div> 
                    <div class="internet"><div>100 Mbps</div> <div style="margin-left: 10px;">{{yes}}</div></div> 
                    <div class="offer"><div>{{offer}}</div><div style="margin-left: 10px;"> {{online}}</div></div> 
                    <div class="btns"><div class="btns1"> Book Now</div><div style="margin-left: 3px;"><img [src]="Star" width="100px"></div></div> 
                </div>
            </div>

            <!-- assets/images/Feedback.svg -->
        </div>
    </div>
</div>