<div class="container">
    <div class="flex">
        <div class="box_1">
            <div class="text" style="font-size: 3rem; margin-top: -2rem;"> <p>Private <span style="color:#FF6E00; ">Offices</span>  And <br>Workspaces</p></div>
            <div class="text-content" style="line-height: 1.6;margin-top: -2rem;"><p>Grow your business in Hamilton with flexible offices and<br> workspaces in a modern coworking environments built for <br>small business and terms</p></div>
            <div class="buttons">
                    <div class="btn1"><span><img src="assets/images/Player.svg"></span><span style="margin-left: 7px;"> Watch Video</span></div>
                    <div class="btn2">Book Now</div>
            </div>
            <div class="links">
                <div   class="links_text" >Private Office</div>
                <div  class="links_text" style="margin-left: 10px;">Dedicated Desk</div>
                <div  class="links_text" style="margin-left:10px;">Shared Desk</div>
            </div>
        </div>
        <div class="box_2">
            <img src='assets/images/12938.png' width="350px" height="350px">
        </div>
        
    </div>
</div>