<div class="container-fluid">
    <div class="flex">
        <div>
            <img src="assets/images/Logo Web 2.svg" width="200px" height="100px" >
        </div>
        <div class="links">
            <div>Home</div>
            <div>Features</div>
            <div>Integrations</div>
            <div>Pricing</div>
            <div>Customers</div>
            <div>Login</div>
            <div style="background-color: #FF6E00; padding: 10px;border-radius:3px;">Add Listing<span style="border-radius:3px;padding: 2px;background-color:white;">Free</span></div>
        </div>
        
    </div>
</div>