.flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-fluid{
    width: 100vw;
}

.links > div {
    margin-left: 25px;
}